.textField {
  width: 100%;
  color: #fff;
  .MuiFormControl-root {
    margin: 11px 0;
    width: 100%;
    &:hover {
      .MuiOutlinedInput-notchedOutline {
        border-color: #f55861;
      }
    }
  }

  .MuiInputLabel-root.Mui-focused {
    transform: translate(14px, -9px) scale(0.75);
    color: #f55861;
  }

  .MuiFormLabel-root {
    color: #fff;
    font-size: 15px;
    transform: translate(14px, 14px) scale(1);
  }
  .css-1sumxir-MuiFormLabel-root-MuiInputLabel-root {
    transform: translate(14px, -9px) scale(0.75);
  }

  .MuiInputBase-input {
    padding: 13px 18px;
    color: #fff;
  }

  .MuiOutlinedInput-notchedOutline {
    border-color: #fff;
  }

  .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
    border-color: #f55861;
  }

  .MuiOutlinedInput-root.Mui-hover .MuiOutlinedInput-notchedOutline {
    border-color: #fff;
  }
}
