.menuArrangeTeam {
  position: relative;

  .MuiListItemIcon-root {
    min-width: 30px;
    color: #17a4c4;
    font-size: 20px;
  }
  .MuiTypography-root {
    font-family: "Poppins", sans-serif;
  }
}
