.meProfile-container {
  position: relative;
  width: 100%;
  .meProfile-container__header {
    display: flex;
    align-items: center;
    padding: 20px;

    svg {
      font-size: 25px;
      color: #17a4c4;
    }
    span {
      font-size: 17px;
      color: rgb(100, 99, 99);
      margin-left: 10px;
    }
  }
  .meProfile-container__main {
    position: relative;
    .meProfile-background {
      position: relative;
      height: 160px;
      background-image: url("https://cdn.dribbble.com/users/966188/screenshots/15283925/media/8b8663dc8f6e6a2fd80a201aec1ffbb6.jpg?compress=1&resize=1000x750&vertical=top");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;

      .meProfile-infor__avatar {
        position: absolute;
        bottom: -45px;
        left: 50%;
        transform: translateX(-50%);

        .MuiAvatar-root {
          width: 90px;
          height: 90px;
        }
      }
    }
    .meProfile-information {
      position: relative;
      padding: 20px;
      padding-top: 55px;
      .meProfile-information__name {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        h3 {
          font-size: 22px;
          font-weight: 500;
        }
      }

      .meProfile-function {
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 15px 0;

        .MuiButtonBase-root {
          width: 150px;
          height: 42px;
          font-size: 16px;
          font-weight: 300;
          background-image: unset;
          border: 2px solid #17a4c4;
          color: #17a4c4;
          display: flex;
          justify-content: center;
          align-items: center;
          svg {
            font-size: 19px;
            margin-right: 10px;
          }
        }
      }

      .meProfile-information__content {
        padding-top: 20px;
        height: 250px;

        .meProfile-content__infor {
          position: relative;
          margin-bottom: 5px;
          display: grid;
          grid-template-columns: 1fr 0.7fr;
          padding: 8px 0;
          .meProfile-infor__title {
            display: flex;
            align-items: center;
            svg {
              font-size: 21px;
              color: #17a4c4;
            }
            span {
              font-size: 15px;
              font-weight: 400;
              color: rgb(100, 99, 99);
              margin-left: 10px;
            }
          }
          h4 {
            font-size: 15px;
            font-weight: 400;
          }
        }

        &.edit_myProfile {
          height: auto;
          padding-top: 0;

          .meProfile-content__infor {
            display: block;
            padding: 0;

            .date_ofBirth {
              margin-bottom: 15px;
            }
          }
          .meEdit-content__function {
            width: 100%;
            display: flex;
            justify-content: flex-end;
            gap: 20px;
            margin-top: 20px;

            .MuiButtonBase-root {
              padding: 12px 25px;
              font-weight: 400;

              &#btn-cancel__Edit {
                background-image: unset;
                background-color: rgb(236, 101, 101);
              }
            }
          }
        }
      }
    }
  }
  .meProfile-container__footer {
    padding: 20px;
    width: 100%;
    .MuiButtonBase-root {
      width: 100%;
      height: 50px;
      font-family: "Poppins", sans-serif;
      font-size: 15px;
      font-weight: 400;
      svg {
        font-size: 20px;
        margin-right: 10px;
      }
    }
  }
}
